%h1= "Movies Director by #{@movie.director}"

- if @movies_with_same_director.blank?
  %p= "#{@movie.title} is the only movie in our database directed by #{@movie.director}"
- else
  %table#movies_with_same_director
    %thead
      %th Title
      %th Rating
      %th Release Date
      %th Director
      %th More Info
    %tbody
      - @movies_with_same_director.each do |movie|
        %tr
          %td= movie.title
          %td= movie.rating
          %td= movie.release_date
          %td= movie.director
          %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Back to movie list', movies_path
